{% extends 'homepage/base.html' %}
{% block content %}
<style type="text/css">
  .yonsei-blue{
    background-color: #1B1ECE;
  }
</style>

<section class="yonsei-blue" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading text-white">연세대학교 멋쟁이 사자처럼의 <br/>일곱 번째 운영진을 소개합니다!</h2>
      </div>
    </div>
  </div>
</section>

<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fas fa-4x fa-gem text-primary mb-3 sr-icon-1"></i>
          <h3 class="mb-3">권동현</h3>
          <p class="text-muted mb-0">Our templates are updated regularly so they don't break.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fas fa-4x fa-gem text-primary mb-3 sr-icon-1"></i>
          <h3 class="mb-3">김하은</h3>
          <p class="text-muted mb-0">Our templates are updated regularly so they don't break.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fas fa-4x fa-paper-plane text-primary mb-3 sr-icon-2"></i>
          <h3 class="mb-3">김하연</h3>
          <p class="text-muted mb-0">You can use this theme as is, or you can make changes!</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fas fa-4x fa-code text-primary mb-3 sr-icon-3"></i>
          <h3 class="mb-3">박진배</h3>
          <p class="text-muted mb-0">We update dependencies to keep things fresh.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <img src="https://insomenia.com/uploads/86ae3283-1c8d-4a12-997a-e72bf9d76978.png" height="200" width="150"></img><br/><br/>
          <h3 class="mb-3">정구영</h3>
          <p class="text-muted mb-0">
          독어독문학 / 인지과학 전공<br/>
          멋쟁이 사자처럼 6기 수료 <br/> 
          현) 스타트업 전문 개발사 insomenia 웹/앱 개발자<br/>
          현) Safenight Team 책임 개발자<br/>
          다수 서비스 개발 경험
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fas fa-4x fa-heart text-primary mb-3 sr-icon-4"></i>
          <h3 class="mb-3">정연수</h3>
          <p class="text-muted mb-0">You have to make your websites with love these days!</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fas fa-4x fa-heart text-primary mb-3 sr-icon-4"></i>
          <h3 class="mb-3">최형규</h3>
          <p class="text-muted mb-0">You have to make your websites with love these days!</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading">무엇이든 물어보세요!</h2>
        <hr class="my-4">
        <p class="mb-5">연세대학교 멋쟁이 사자처럼에 대해 궁금한 것들을 언제든 물어봐주세요! 빠른 시간 내에 답변드리도록 하겠습니다.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 ml-auto text-center">
        <i class="fas fa-phone fa-3x mb-3 sr-contact-1"></i>
        <p>123-456-6789</p>
      </div>
      <div class="col-lg-4 mr-auto text-center">
        <i class="fas fa-envelope fa-3x mb-3 sr-contact-2"></i>
        <p>
          <a href="https://web.facebook.com/yonsei.likelion/?eid=ARCqPEkWweJt8hWzp622BvcKq4OCDgIrybLTPeB9BuxnB4H9LcNxKsF5x6_L_ddFY9HzmMilX3PZL8qW">페이스북 페이지로 문의하기</a>
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
