{% extends 'homepage/base.html' %}
{% block content %}
<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">회원가입</h2>
        <hr class="my-4">
      </div>
    </div>
  </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <form method="POST">
                    {% csrf_token %} {{ form.as_p }}
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}